<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

   
</head>
<body>

  <!-- Nav bar -->
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="#"><span>Bizz</span>consulting</a>
      <div class="navbar-nav mx-auto">
        <!-- Espacio en medio -->
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Investments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clients</a>
        </li>
      </ul>
    </nav>


  <!-- Carrusel -->
  <div class="container vertical-bar-container bg-light">
    <div class="row">
      <div class="col-md-1 col-sm-12 p-2">
        <div class="vertical-bar row m-0 orange h-100">
          <div class="col-md-12 col-sm-11 align-self-start rotate d-sm-none d-md-block">Welcome</div>
          <div class="col-md-12 col-sm-11 align-self-start d-md-none">Welcome</div>
          <div class="col-md-12 col-sm-1 align-self-end">1</div>
        </div>
      </div>
      <div class="col-sm-1 col-md-7 d-sm-none d-md-block p-2">
        <!-- Imagen -->
        <img src="img/zoropng.png" alt="Imagen" class="img-fluid">
      </div>
      <div class="col-md-1 col-sm-12 p-2 ">
        <div class="vertical-bar row m-0 piel h-100">
          <div class="col-md-12 col-sm-11 align-self-start rotate d-sm-none d-md-block">Welcome</div>
          <div class="col-md-12 col-sm-11 align-self-start d-md-none">Welcome</div>
          <div class="col-md-12 col-sm-1 align-self-end">1</div>
        </div>
      </div>
      <div class="col-md-1 col-sm-12 p-2">
        <div class="vertical-bar row m-0 amarillo h-100">
          <div class="col-md-12 col-sm-11 align-self-start rotate d-sm-none d-md-block">Welcome</div>
          <div class="col-md-12 col-sm-11 align-self-start d-md-none">Welcome</div>
          <div class="col-md-12 col-sm-1 align-self-end">1</div>
        </div>
      </div>
      <div class="col-md-1 col-sm-12 p-2">
        <div class="vertical-bar row m-0 verde h-100">
          <div class="col-md-12 col-sm-11 align-self-start rotate d-sm-none d-md-block">Welcome</div>
          <div class="col-md-12 col-sm-11 align-self-start d-md-none">Welcome</div>
          <div class="col-md-12 col-sm-1 align-self-end">1</div>
        </div>
      </div>  
      <div class="col-md-1 col-sm-12 p-2">
        <div class="vertical-bar row m-0 aceituna h-100">
          <div class="col-md-12 col-sm-11 align-self-start rotate d-sm-none d-md-block">Welcome</div>
          <div class="col-md-12 col-sm-11 align-self-start d-md-none">Welcome</div>
          <div class="col-md-12 col-sm-1 align-self-end">1</div>
        </div>
      </div>
      
    </div>
  </div>

  <!--  -->
  <section class="pt-4">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 mb-5 p-2">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-3">
                        <h4 class="fs-4 fw-bold">Solutions</h4>
                        <hr>
                        <p class="mb-0 text-left">
                          There are many variations of passager of lore ipsum avaliable, but the mayority of them have suffered
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-5 p-2">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-center p-3">
                        <h4 class="fs-4 fw-bold">Investments</h4>
                        <hr>
                        <p class="mb-0 text-left">
                          There are many variations of passager of lore ipsum avaliable, but the mayority of them have suffered
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-5 p-2">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-center p-3">
                        <h4 class="fs-4 fw-bold">Financing</h4>
                        <hr>
                        <p class="mb-0 text-left">
                          There are many variations of passager of lore ipsum avaliable, but the mayority of them have suffered
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 mb-5 p-2">
                <div class="card bg-light border-0 h-100">
                  <div class="card-body text-center p-3">
                        <h4 class="fs-4 fw-bold">Marketing</h4>
                        <hr>
                        <p class="mb-0 text-left">
                          There are many variations of passager of lore ipsum avaliable, but the mayority of them have suffered
                        </p>
                    </div>
                </div>
            </div>
          </div>
 
</body>