<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Layout.css">
</head>

<body>
    <div class="container">
        <div class="Buscador">
            <input name="busqueda" placeholder="Search"></input>
        </div>
        <div class="menu">
            <div class="navM1">Edison Colors<p>lorem ipsun dolor sit amet</p>
            </div>
            <div class="navM">
                <p>Home</p>
                <p>Portfolio</p>
                <p>About</p>
                <p>Contact</p>
            </div>
        </div>
        <div class="container-container">

            <div class="cc1">
                <h1>Lorem ipsun dolor sit amet</h1>
                <div class="cc12">
                    <img src="Captura.PNG" alt="imagen" class="img1">
                    <p class="p2">¡Oh la saeta, el cantar al Cristo de los gitanos, siempre con sangre en las manos
                        siempre por desenclavar!¡Cantar del pueblo andaluzque todas las primaverasanda pidiendo
                        escaleraspara subir a la cruz!</p>
                </div>

            </div>


            <div class="cc2">
                    <h1> What we do</h1>
                <div class="cc21">

                    <h3>Design<span>Development</span></h3>
                    <button>See More</button>
                    <hr>
                    <div class="cards">Design<p>tataatat</p>
                    </div>
                    <div class="cards">Development<p>tatatatat</p>
                    </div>
                    <div class="cards">Consultation<p>tatatat</p>
                    </div>
                </div>
            </div>

            <div class="cc23">
                <h2>Lates Blog Entry</h2>
                <p class="cc233">Abril florecía
                    frente a mi ventana.<br>
                    Entre los jazmines
                    y las rosas blancas
                    de un balcón florido,
                    vi las dos hermana</p>
                <p class="cc233">La menor cosía,
                    la mayor hilaba ...
                    Entre los jazmines<br>
                    y las rosas blancas,
                    la más pequeñita,
                    risueña y rosada
                </p>
                <p class="cc233">La mayor seguía
                    silenciosa y pálida,
                    el huso en su rueca<br>
                    que el lino enroscaba.
                    Abril florecía
                    frente a mi ventana
                </p>
            </div>
        </div>
    </div>


</body>

</html>