<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="responsivo.css">
</head>
<body>

    <div class="menu">
        <div class="MenuIzq">Bizz<span>consulting</span></p></div>
        <div class="MenuDerecha">
            <p>Home</p>
            <p>Invest</p>
            <p>Finance</p>
            <p>Support</p>
            <p>Clients</p>
        </div>
    </div>
  

    <div class="container-container">
        <div class="Barra1">
            <p >Welcome</p>
            <p>1</p>
        </div>
        <div class="Barra">
            <img src="img/zoropng.png">
        </div>
        <div class="Barra2">
            <p >Investments</p>
            <p>2</p>
        </div>
        <div class="Barra3">
            <p >Corporate Brance</p>
            <p>3</p>
        </div>
        <div class="Barra4">
            <p >New Markets</p>
            <p>4</p>
        </div>
        <div class="Barra5">
            <p >Financing Technology</p>
            <p>5</p>
        </div>
    </div>


    <div class="Foot">
        <div class="Foot1">
            <h2>SOLUTIONS</h2>
            <hr>
            <p>«No te pliegues. No lo diluyas. No intentes hacerlo lógico. 
                No adaptes tu propia alma a las costumbres de los demás. 
                En lugar de todo eso, sigue tu propia obsesión implacablemente»
            </p>
        </div>
        <div class="Foot2">
            <h2>INVESTMENTS</h2>
            <hr>
            <p>Aunque te sientas perdido y sin fuerzas,
                 recuerda que cada día puede ser el comienzo de algo maravilloso.
                 No te rindas.
            </p>
        </div>
        <div class="Foot3">
            <h2>FINANCING</h2>
            <hr>
            <p>La vida es cómo una cámara: enfócate sólo en lo importante, captura los buenos momentos,
                 saca de lo negativo algo positivo, y si no sale como esperabas, 
                 intenta una nueva toma.
            </p>
        </div>
        <div class="Foot4">
            <h2>MARKETING</h2>
            <hr>
            <p>Los retos son lo que hacen la vida interesante, 
                y superarlos es lo que hace que la vida tenga un significado.
                Ninguna vida está completa sin un toque de locura.
            </p>
        </div>
    </div>

</body>
</html>